@font-face {
  font-family: "BeaufortforLOL-Bold";
  src: url("http://db.onlinewebfonts.com/t/12420e8c141ca7c3dff41de2d59df13e.eot"); /* IE9*/
  src: url("http://db.onlinewebfonts.com/t/12420e8c141ca7c3dff41de2d59df13e.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */
      url("http://db.onlinewebfonts.com/t/12420e8c141ca7c3dff41de2d59df13e.woff2")
      format("woff2"),
    /* chrome firefox */
      url("http://db.onlinewebfonts.com/t/12420e8c141ca7c3dff41de2d59df13e.woff")
      format("woff"),
    /* chrome firefox */
      url("http://db.onlinewebfonts.com/t/12420e8c141ca7c3dff41de2d59df13e.ttf")
      format("truetype"),
    /* chrome firefox opera Safari, Android, iOS 4.2+*/
      url("http://db.onlinewebfonts.com/t/12420e8c141ca7c3dff41de2d59df13e.svg#BeaufortforLOL-Bold")
      format("svg"); /* iOS 4.1- */
}
html {
  scroll-behavior: smooth;
  scroll-padding-top: 12rem;
}

body {
  background-color: rgb(2, 9, 18);
  margin: 0;
  scroll-padding-top: 5rem;
}

body::-webkit-scrollbar {
  display: none;
}

header {
  background-color: rgb(20, 20, 20);
  position: sticky;
  display: block;
  top: 0;
  z-index: 1;
  text-align: center;
  padding-top: 0.1rem;
  padding-bottom: 0.1rem;
  font-family: "BeaufortforLOL-Bold";
  font-size: max(2rem, 2.5vw);
  text-transform: uppercase;
  font-style: italic;
}

#Header {
  overflow: hidden;
  background: linear-gradient(
    to right,
    rgb(28, 186, 220),
    rgb(28, 186, 220) 50%,
    rgb(196, 153, 74) 50%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 200% 100%;
  background-position: 100%;
  transition: background-position 800ms ease;
}

#Header:hover {
  background-position: 0 100%;
}

.intro-page {
  width: 100vw;
  height: 200vh;
}

/*-Nav Bar-------------------*/
.navbar {
  position: fixed;
  background-color: rgb(160, 160, 160);
  z-index: 1;
  transition: width 300ms ease;
}

.navbar-child {
  display: flex;
  padding: 0;
  margin: 0;
  flex-direction: column;
  align-items: center;
  list-style: none;
}

.navbar-item {
  width: 100%;
  height: 5rem;
}

.navbar-item-link {
  display: flex;
  height: 5rem;
  text-decoration: none;
  align-items: center;
  filter: grayscale(100%) opacity(0.7);
  transition: 500ms;
}

.navbar-item-link-text {
  display: none;
  margin-left: 1rem;
  font-family: "BeaufortforLOL-Bold";
  font-weight: 600;
  color: black;
}

.navbar-item-link-img {
  width: 4rem;
  border-radius: 2.5rem;
  margin-left: 0.5rem;
}

.navbar:hover {
  filter: grayscale(0) opacity(1);
}

.navbar-item-link:hover {
  filter: grayscale(0%);
  background-color: rgb(110, 110, 110);
}
/*-Content-------------------*/
.parent {
  display: flex;
  flex-wrap: wrap;
  row-gap: 10vw;
  justify-content: space-evenly;
  position: relative;
  column-gap: min(6vw);
  margin-top: 5%;
  margin-bottom: 7%;
  margin-left: 5rem;
  padding-top: 0;
  padding: 4rem;
}

.child {
  padding: 2rem;
  border-style: solid;
  border-color: rgb(160, 160, 160);
  border-width: 0.1em;
  background-color: rgb(9, 18, 25);
  position: relative;
  width: clamp(250px, 18%, 23%);
  aspect-ratio: 1/1;
}

.child::after {
  position: absolute;
  top: 1rem;
  right: -1rem;
  width: 100%;
  height: 100%;
  transition: 0.4s;
  content: "";
  z-index: -1;
  background-color: rgb(160, 160, 160);
}

.child:hover::after {
  top: -1rem;
  width: calc(100% + 2rem);
  height: calc(100% + 2rem);
}

.child-image {
  display: block;
  width: max(120px, 9vw);
  margin-left: auto;
  margin-right: auto;
  border-style: solid;
  border-color: rgb(196, 153, 74);
  border-radius: 0.2rem;
  border-width: 0.5em;
}

.child:hover .child-image {
  border-color: rgb(28, 186, 220);
  transform: translateY(-1.7rem) scale(1.2);
  transition: transform 400ms ease;
}

.child-ability {
  font-weight: bold;
  text-align: center;
  margin-block-start: 0;
  margin-block-end: 0;
  color: rgb(255, 255, 255);
  font-size: 1.2vw;
  font-family: "Arial Narrow", Arial, sans-serif;
  font-size: max(1.1rem, 12px);
  margin-bottom: 1rem;
}

.child-description {
  font-family: "Arial Narrow", Arial, sans-serif;
  color: rgb(255, 255, 255);
  font-size: max(0.9rem, 8px);
}

/*-Page Loader-------------------*/
.load_page {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #242f3f;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
  animation: load 2s 1;
  animation-fill-mode: forwards;
}
.icon-loader {
  display: inline-block;
  width: 30px;
  height: 30px;
  position: relative;
  border: 4px solid #fff;
  animation: icon-loader 2s infinite ease;
}

.icon-loader-inner {
  vertical-align: top;
  display: inline-block;
  width: 100%;
  background-color: #fff;
  animation: icon-loader-inner 2s infinite ease-in;
}

@keyframes load {
  0% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  99.88% {
    z-index: 2;
  }
  100% {
    opacity: 0;
    z-index: -3;
  }
}

@keyframes icon-loader {
  0% {
    transform: rotate(0deg);
  }

  25% {
    transform: rotate(180deg);
  }

  50% {
    transform: rotate(180deg);
  }

  75% {
    transform: rotate(360deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes icon-loader-inner {
  0% {
    height: 0%;
  }

  25% {
    height: 0%;
  }

  50% {
    height: 100%;
  }

  75% {
    height: 100%;
  }

  100% {
    height: 0%;
  }
}

/* Small Screen*/
@media screen and (max-width: 500px) {
  .parent {
    margin-left: 0;
  }

  .navbar {
    display: none;
  }
}
/* Medium Screen*/
@media screen and (max-width: 1300px) {
  .parent {
    margin-left: 0;
    row-gap: 10vh;
  }

  .navbar {
    bottom: 0;
    width: 100vw;
    height: 5rem;
    overflow-x: scroll;
  }
  .navbar-child {
    flex-direction: row;
  }

  .navbar-item-link {
    justify-content: center;
    align-items: center;
  }

  .navbar-item-link-img {
    margin: 0;
    width: 3.5rem;
  }
}

/* Large Screen */
@media screen and (min-width: 1300px) {
  body {
    font-size: 16px;
  }

  .navbar {
    width: 5rem;
    height: 100vh;
  }

  .navbar:hover {
    width: 14rem;
  }

  .navbar:hover .navbar-item-link-text {
    display: block;
  }
}
